@font-face {
  font-family: Tajawal;
  src: url("Tajawal-Black.ttf");
}
@font-face {
  font-family: Tajawal;
  src: url("Tajawal-Bold.ttf");
}

@font-face {
  font-family: Tajawal;
  src: url("Tajawal-Light.ttf");
}
@font-face {
  font-family: Tajawal;
  src: url("Tajawal-Medium.ttf");
}
@font-face {
  font-family: Tajawal;
  src: url("Tajawal-Regular.ttf");
}
